.begin-twoColumns ~ h1 {
    width: 100%;
    clear: both;
}

.begin-leftColumn,
.begin-leftColumn ~ h2,
.begin-leftColumn ~ h3,
.begin-leftColumn ~ p {
    width: 50%;
    float: left;
    margin-top: 0em;
    box-sizing: border-box;
    padding-right: 1rem;
    clear:both;
}

.begin-leftColumn ~ input,
.begin-leftColumn ~ canvas {
    margin-bottom: 1em;
    float:left;
    clear:both;
}

.begin-rightColumn ~ h2,
.begin-rightColumn ~ h3,
.begin-rightColumn ~ input,
.begin-rightColumn ~ canvas,
.begin-rightColumn ~ p {
    width: 50%;
    margin-top: 0em;
    float: right;
    clear: right;
}

.end-leftColumn,
.end-leftColumn ~ h2,
.end-leftColumn ~ h3,
.end-leftColumn ~ input,
.end-leftColumn ~ canvas,
.end-leftColumn ~ p,
.end-rightColumn,
.end-rightColumn ~ h2,
.end-rightColumn ~ h3,
.end-rightColumn ~ input,
.end-rightColumn ~ canvas,
.end-rightColumn ~ p {
    width: auto;
    float: none;
    clear: none;
}


.end-twoColumns {
    clear: both;
}